@charset "UTF-8";

:root {
	/*New theme colors*/
	--primary: #027aa1!important;
	--accent: #fe5555;
	--white: #ffffff;
}

html {
	height: 100%;
}

body {
	margin: 0!important;
	margin-top: 1em!important;
	height: 100%;
	background-color: #d4d4d4;
	background-image: url("../../images/bg.jpg");
	background-repeat: repeat, no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: top left, center center, bottom center;
	background-attachment: fixed, fixed, fixed;
}

.menu {
	padding: 0!important;
}

.menu button span{
	color: var(--primary)!important;
}

.menuButton {
	font-size: 24px;
	border-bottom: solid var(--primary)!important;
	color: rgb(255, 255, 255)!important;
	-webkit-transition: color 0.25s ease-out!important;
	-moz-transition: color 0.25s ease-out!important;
	-o-transition: color 0.25s ease-out!important;
	transition: color 0.25s ease-out!important;
}

.menuButton:hover {
  color: var(--accent)!important;
	border-bottom: solid var(--accent)!important;
  cursor: pointer!important;
}

.menu div div .active{
	background-color: var(--primary)!important;
}

.row {
	margin: 0!important;
	margin-top: 1em!important;
}

.col-xs-12{
	width: 100% !important;
}

a{
	text-decoration: none !important;
}
