.bodyColor {
	background-image: url('images/andyfitz_grass.jpg');
	background-size: cover;
	color: rgba(255, 255, 255, 1);
}

.navbar {
	background-color: rgba(255, 255, 255, 0.35);
}

#footer {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	bottom: 0;
	cursor: default;
	height: 6em;
	left: 0;
	line-height: 8em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.a ul {
	list-style-type: none;
}

.a ul li {
	display: inline;
	margin: 10px;
}

.a ul li a {
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px #fff;
	display: block;
	font-size: 1.75em;
	height: 2em;
	text-decoration: none;
	color: inherit;
	line-height: 2em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2em;
}

.a ul li a:hover{
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px #fff;
	background-color: rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 1.75em;
	height: 2em;
	text-decoration: none;
	color: inherit;
	line-height: 2em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2em;
}

.a ul li a:hover span {
	display: block;
}

.a ul li a span {
	display: none;
}
